*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerPrincipale{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 150, 136, 1);
    background: linear-gradient(0deg,  rgb(216, 219, 214) 85% ,  rgb(	18, 140, 126) 10%);
}

.mainPrincipale{
    display: flex;
    margin: auto;
    width: 60%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
}